.about_wrapper {
  /* border: 0.5px solid red; */
  /* width: 1300px; */
  width: 85%;
  margin: 50px auto 30px auto;
}

/* FIRST SECTION */
.about_first_section {
  margin-left: 40px;
}

.about_first_section,
.about_second_section {
  /* border: 0.5px solid blue; */
  display: flex;
  height: 80%;
  justify-content: center;
}

/* .about_left_side,
.about_right_side {
  border: 0.5px solid green;
} */

.about_left_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 20px;
}

.about_right_side {
  width: 60%;
  margin-left: 50px;
  height: 140%;
  /* border: 0.5px solid red; */
}

.about_title_div,
.about_first_section_para_div {
  /* border: 0.5px solid red; */
  text-align: left;
}

.about_title_div {
  color: #204c8d;
  font-size: 20px;
  margin: 10px 0 15px 0;
}

.about_first_section_para_div {
  color: #5c79a2;
  font-size: 20px;
  font-weight: 400;
  height: 40%;
  line-height: 200%;
  /* margin-bottom: 120px; */
}

/* .about_first_section_img_div {
  border: 0.5px solid green;
} */
.about_first_section_img_div img {
  width: 100%;
  height: 100%;
  /* border: 0.5px solid green; */
}
/* ----------------------------- */

/* SECOND SECTION */
/* RIGHT IS LEFT */

.about_second_section {
  margin-bottom: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* border: 0.5px solid blue; */
}

/* .about_left_side_second_section,
.about_right_side_second_section { */
/* border: 0.5px solid green; */
/* } */

.about_left_side_second_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

.about_right_side_second_section {
  width: 50%;
  height: 100%;
  /* margin-right: 100px; */
  /* border: 0.5px solid red; */
}

.about_title_div_second_section,
.about_second_section_para_div {
  /* border: 0.5px solid red; */
  text-align: left;
}

.about_title_div_second_section {
  color: #204c8d;
  font-size: 20px;
  margin: 10px 0;
}

.about_second_section_para_div {
  color: #5c79a2;
  font-size: 20px;
  font-weight: 400;
  height: 60%;
  line-height: 200%;
  margin-bottom: 20px;
}

.about_second_section_para_div .p2 {
  margin-top: 15px;
}

.about_second_section_img_div {
  /* border: .5px solid red; */
  height: 100%;
  display: flex;
  justify-content: center;

  width: 110%;
}

.about_second_section_img_div img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .about_wrapper {
    /* border: 0.5px solid red; */
    /* width: 1300px; */
    width: 85%;
    margin: 50px auto 30px auto;
  }

  /* FIRST SECTION (adjustable in main file)*/
  .about_first_section {
    margin-left: 0px;
  }

  .about_first_section,
  .about_second_section {
    border: 0.5px solid blue;
    display: flex;
    height: 80%;
    justify-content: center;
  }

  .about_left_side,
  .about_right_side {
    border: 0.5px solid green;
  }

  .about_left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 0px;
  }

  .about_right_side {
    width: 70%;
    margin-left: 0px;
    height: 100%;
    border: 0.5px solid red;
  }

  .about_title_div,
  .about_first_section_para_div {
    border: 0.5px solid red;
    text-align: left;
  }

  .about_title_div {
    margin: 10px 0 15px 0;
  }
  .about_title_div h1 {
    color: #204c8d;
    font-size: 35px;
  }

  .about_first_section_para_div {
    height: 45%;
  }

  .about_first_section_para_div .p1 {
    color: #5c79a2;
    font-size: 13px;
    font-weight: 400;
    height: 40%;
    line-height: 200%;
    /* margin-bottom: 120px; */
  }

  /* .about_first_section_img_div {
    border: 0.5px solid green;
  } */
  .about_first_section_img_div img {
    width: 100%;
    height: 100%;
    border: 0.5px solid green;
  }
  /* ----------------------------- */

  /* SECOND SECTION */
  /* RIGHT IS LEFT */

  .about_second_section {
    margin-bottom: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 0.5px solid blue;
    align-items: center;
  }

  /* .about_left_side_second_section,
  .about_right_side_second_section { */
  /* border: 0.5px solid green; */
  /* } */

  .about_left_side_second_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
  }

  .about_right_side_second_section {
    width: 60%;
    height: 100%;
    /* margin-right: 100px; */
    border: 0.5px solid red;
  }

  .about_title_div_second_section,
  .about_second_section_para_div {
    border: 0.5px solid red;
    text-align: left;
  }

  .about_title_div_second_section {
    margin: 10px 0;
  }

  .about_title_div_second_section h1 {
    color: #204c8d;
    font-size: 35px;
  }

  .about_second_section_para_div {
    color: #5c79a2;
    font-size: 20px;
    font-weight: 400;
    height: 60%;
    line-height: 130%;
    margin-bottom: 20px;
  }

  .about_second_section_para_div .p1,
  .about_second_section_para_div .p2 {
    font-size: 13px;
  }

  .about_second_section_para_div .p2 {
    margin-top: 15px;
  }

  .about_second_section_img_div {
    border: 0.5px solid red;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about_second_section_img_div img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 950px) {
  .about_wrapper {
    /* border: 0.5px solid red; */
    /* width: 1300px; */
    width: 85%;
    margin: 50px auto 30px auto;
  }

  /* FIRST SECTION (adjustable in main file)*/
  .about_first_section {
    margin-left: 0px;
  }

  .about_first_section,
  .about_second_section {
    border: 0.5px solid blue;
    display: flex;
    height: 80%;
    justify-content: center;
  }

  .about_left_side,
  .about_right_side {
    border: 0.5px solid green;
  }

  .about_left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 0px;
  }

  .about_right_side {
    width: 70%;
    margin-left: 0px;
    height: 100%;
    border: 0.5px solid red;
  }

  .about_title_div,
  .about_first_section_para_div {
    border: 0.5px solid red;
    text-align: left;
  }

  .about_title_div {
    margin: 10px 0 15px 0;
  }
  .about_title_div h1 {
    color: #204c8d;
    font-size: 35px;
  }

  .about_first_section_para_div {
    height: 45%;
  }

  .about_first_section_para_div .p1 {
    color: #5c79a2;
    font-size: 13px;
    font-weight: 400;
    height: 40%;
    line-height: 200%;
    /* margin-bottom: 120px; */
  }

  /* .about_first_section_img_div {
    border: 0.5px solid green;
  } */
  .about_first_section_img_div img {
    width: 100%;
    height: 100%;
    border: 0.5px solid green;
  }
  /* ----------------------------- */

  /* SECOND SECTION */
  /* RIGHT IS LEFT */

  .about_second_section {
    margin-bottom: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 0.5px solid blue;
    align-items: center;
  }

  /* .about_left_side_second_section,
  .about_right_side_second_section { */
  /* border: 0.5px solid green; */
  /* } */

  .about_left_side_second_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
  }

  .about_right_side_second_section {
    width: 60%;
    height: 100%;
    /* margin-right: 100px; */
    border: 0.5px solid red;
  }

  .about_title_div_second_section,
  .about_second_section_para_div {
    border: 0.5px solid red;
    text-align: left;
  }

  .about_title_div_second_section {
    margin: 10px 0;
  }

  .about_title_div_second_section h1 {
    color: #204c8d;
    font-size: 35px;
  }

  .about_second_section_para_div {
    color: #5c79a2;
    font-size: 20px;
    font-weight: 400;
    height: 60%;
    line-height: 130%;
    margin-bottom: 20px;
  }

  .about_second_section_para_div .p1,
  .about_second_section_para_div .p2 {
    font-size: 13px;
  }

  .about_second_section_para_div .p2 {
    margin-top: 15px;
  }

  .about_second_section_img_div {
    border: 0.5px solid red;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about_second_section_img_div img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 720px) {
  .about_wrapper {
    /* border: 0.5px solid red; */
    width: 100%;
    margin: 0 auto;
  }

  .about_first_section,
  .about_second_section {
    /* border: 0.5px solid blue; */
    display: flex;
    height: 80%;
    justify-content: center;
  }
  /* FIRST SECTION */
  .about_first_section {
    width: 100%;
    margin-left: 0px;
    flex-direction: column;
    justify-content: space-between;
  }

  /* .about_left_side,
  .about_right_side {
    border: 0.5px solid green;
  } */

  .about_left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
  }

  .about_title_div,
  .about_first_section_para_div {
    /* border: 0.5px solid red; */
    text-align: center;
  }

  .about_title_div {
    margin: 10px 0 15px 0;
  }

  .about_title_div h1 {
    font-size: 40px;
    font-weight: 700;
  }

  .about_first_section_para_div {
    color: #3e5574;
    font-size: 16px;
    font-weight: 300;
    height: 40%;
    line-height: 180%;
    width: 60%;
    /* margin-bottom: 120px; */
  }

  .about_right_side {
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
  }

  .about_first_section_img_div {
    /* border: 0.5px solid green; */
    margin: 0 auto;
    max-width: 70%;
  }

  .about_first_section_img_div img {
    width: 100%;
    height: 100%;
    /* border: 0.5px solid green; */
  }

  /* --------------------- */
  /* --------------------- */
  /* --------------------- */
  /* --------------------- */

  /* SECOND SECTION */
  /* RIGHT IS LEFT */

  .about_second_section {
    /* border: 0.5px solid blue; */
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* .about_left_side_second_section,
  .about_right_side_second_section {
    border: 0.5px solid green;
  } */

  .about_left_side_second_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .about_right_side_second_section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about_title_div_second_section {
    margin: 10px 0;
  }

  .about_title_div_second_section h1 {
    font-size: 40px;
    font-weight: 700;
    color: #204c8d;
    text-align: center;
  }

  .about_second_section_para_div {
    color: #5c79a2;
    font-size: 16px;
    font-weight: 300;
    height: 60%;
    line-height: 170%;
    margin-bottom: 20px;
  }

  .about_second_section_para_div .p1,
  .about_second_section_para_div .p2 {
    margin: 15px auto 0 auto;
    text-align: center;
    width: 70%;
    /* border: 0.5px solid red; */
  }

  .about_second_section_img_div {
    border: 0.5px solid red;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    width: 80%;
  }

  /* .about_second_section_img_div img {
    border: 0.5px solid blue;
  } */
}

@media screen and (max-width: 650px) {
  .about_wrapper {
    /* border: 0.5px solid red; */
    width: 100%;
    margin: 0 auto;
  }

  .about_first_section,
  .about_second_section {
    /* border: 0.5px solid blue; */
    display: flex;
    height: 80%;
    justify-content: center;
  }
  /* FIRST SECTION */
  .about_first_section {
    width: 100%;
    margin-left: 0px;
    flex-direction: column;
    justify-content: space-between;
  }

  /* .about_left_side,
  .about_right_side {
    border: 0.5px solid green;
  } */

  .about_left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
  }

  .about_title_div,
  .about_first_section_para_div {
    /* border: 0.5px solid red; */
    text-align: center;
  }

  .about_title_div {
    margin: 10px 0 15px 0;
  }

  .about_title_div h1 {
    font-size: 40px;
    font-weight: 700;
  }

  .about_first_section_para_div {
    color: #3e5574;
    font-size: 16px;
    font-weight: 300;
    height: 40%;
    line-height: 180%;
    width: 60%;
    /* margin-bottom: 120px; */
  }

  .about_right_side {
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
  }

  .about_first_section_img_div {
    /* border: 0.5px solid green; */
    margin: 0 auto;
    max-width: 70%;
  }

  .about_first_section_img_div img {
    width: 100%;
    height: 100%;
    /* border: 0.5px solid green; */
  }

  /* --------------------- */
  /* --------------------- */
  /* --------------------- */
  /* --------------------- */

  /* SECOND SECTION */
  /* RIGHT IS LEFT */

  .about_second_section {
    /* border: 0.5px solid blue; */
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* .about_left_side_second_section,
  .about_right_side_second_section {
    border: 0.5px solid green;
  } */

  .about_left_side_second_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .about_right_side_second_section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about_title_div_second_section {
    margin: 10px 0;
  }

  .about_title_div_second_section h1 {
    font-size: 40px;
    font-weight: 700;
    color: #204c8d;
    text-align: center;
  }

  .about_second_section_para_div {
    color: #5c79a2;
    font-size: 16px;
    font-weight: 300;
    height: 60%;
    line-height: 170%;
    margin-bottom: 20px;
  }

  .about_second_section_para_div .p1,
  .about_second_section_para_div .p2 {
    margin: 15px auto 0 auto;
    text-align: center;
    width: 70%;
    /* border: 0.5px solid red; */
  }

  .about_second_section_img_div {
    border: 0.5px solid red;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    width: 80%;
  }

  /* .about_second_section_img_div img {
    border: 0.5px solid blue;
  } */
}

@media screen and (max-width: 490px) {
  .about_wrapper {
    /* border: 0.5px solid red; */
    width: 100%;
    margin: 0 auto;
  }

  .about_first_section,
  .about_second_section {
    /* border: 0.5px solid blue; */
    display: flex;
    height: 80%;
    justify-content: center;
  }
  /* FIRST SECTION */
  .about_first_section {
    width: 100%;
    margin-left: 0px;
    flex-direction: column;
    justify-content: space-between;
  }

  /* .about_left_side,
  .about_right_side {
    border: 0.5px solid green;
  } */

  .about_left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
  }

  .about_title_div,
  .about_first_section_para_div {
    /* border: 0.5px solid red; */
    text-align: center;
  }

  .about_title_div {
    margin: 10px 0 15px 0;
  }

  .about_title_div h1 {
    font-size: 40px;
    font-weight: 700;
  }

  .about_first_section_para_div {
    color: #3e5574;
    font-size: 16px;
    font-weight: 300;
    height: 40%;
    line-height: 180%;
    width: 60%;
    /* margin-bottom: 120px; */
  }

  .about_right_side {
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;
  }

  .about_first_section_img_div {
    /* border: 0.5px solid green; */
    margin: 0 auto;
    max-width: 90%;
  }
  .about_first_section_img_div img {
    width: 100%;
    height: 100%;
    /* border: 0.5px solid green; */
  }

  /* --------------------- */
  /* --------------------- */
  /* --------------------- */
  /* --------------------- */

  /* SECOND SECTION */
  /* RIGHT IS LEFT */

  .about_second_section {
    /* border: 0.5px solid blue; */
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* .about_left_side_second_section,
  .about_right_side_second_section {
    border: 0.5px solid green;
  } */

  .about_left_side_second_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .about_right_side_second_section {
    width: 100%;
  }

  .about_title_div_second_section {
    margin: 10px 0;
  }

  .about_title_div_second_section h1 {
    font-size: 40px;
    font-weight: 700;
    color: #204c8d;
    text-align: center;
  }

  .about_second_section_para_div {
    color: #5c79a2;
    font-size: 16px;
    font-weight: 300;
    height: 60%;
    line-height: 170%;
    margin-bottom: 20px;
  }

  .about_second_section_para_div .p1,
  .about_second_section_para_div .p2 {
    margin: 15px auto 0 auto;
    text-align: center;
    width: 90%;
    /* border: 0.5px solid red; */
  }

  .about_second_section_img_div {
    /* border: 0.5px solid red; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* .about_second_section_img_div img {
    border: 0.5px solid blue;
  } */
}
