.card_option_container{
  /* background: rgb(190, 173, 230); */
  /* border: 1px solid red; */
  /* margin-top: 500px; */
}

.card-section__heading {
  text-align: center;
  /* padding-top: 60px; */
  color: var(--color-bg);
  /* height: 150px; */
  /* padding-bottom: 0; */
}

.card-section__heading h3{
  color: #204C8D;
  font-size: 30px;
  /* border: .5px solid red; */
  text-align: center;
  font-size: 50px;
}

.card-section__heading h2 {
  font-size: 50px;
}

.card-section__heading p {
  font-size: 15px;
  font-weight: 600;
  /* border: 2px solid red; */
  width: 60%;
  margin: 5px auto 0px;
  padding-bottom: 5px;
}

.duo_card__card-section {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  /* border: 2px solid red; */
  /* background: lightblue; */
}

.card-box {
  color: white;
  text-align: center;
  width: 25%;
  height: 60%;
  background: whitesmoke;
  margin: 35px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  border: .5px solid #e1e1e1;

}


.card-box-active{
  background: green;
  color: white;
  text-align: center;
  width: calc(25% * 1.07);
  height: calc(60% * 1.07);
  background: whitesmoke;
  margin: 30px 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: .5px solid #bebdc6;
  border-radius: calc(7px * 1.07);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.price_tag{
  display: flex;
  width: 95%;
  /* border: .5px solid red; */
  justify-content: space-around;
  align-items: center;
  margin-top: 7px;
}

.card-box__inner1 {
  width: 95%;
  height: 80%;
  margin-top: 12px;
  margin-bottom: 3px;
  border-radius: 5px;
  background: #b4cbed;
  font-size: 25px;
  font-weight: 800;
}

.card-box__inner2 {
  width: 40%;
  height: 100%;
  /* margin-top: 7px; */
  border-radius: 5px;
  background: #204C8D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-div{
  /* background: coral; */
  /* margin: 5px 5px 5px 25px; */
  font-size: 18px;
  color: white;
  /* width: 100%; */
}

.price-div:hover{
  cursor: pointer;
}


.card-box__inner3 {
  width: 40%;
  height: 100%;
  /* margin-top: 7px; */
  border-radius: 5px;
  background: #204C8D;
  display: flex;
  justify-content: center;
  /* padding-top:20px; */
  /* flex-direction: column; */
  align-items: center;
  /* border: 1px solid red; */
  /* align-items: center; */
}


/* .variation-boxes-container{ */
  /* border: 1px solid red; */
  /* width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px; */
/* } */

.card-material-variation{
  /* border: .5px solid blue; */
  /* border-radius: 6px;
  padding: 10px;
  margin: 3px;
  background: rgb(186, 180, 180); */

}

.buy-div-container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}



.btn__add-to-cart{
  padding: 15px 27.17px;
  background: #204C8D;
  color: white;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
  /* margin: 0 auto; */
}

/* .btn__add-to-cart:hover{
  background: rgb(116, 116, 160);
} */

/* label{display: block;} */
/* FORMER STYLES */

/* .duo_card__blog {
  display: flex;
  flex-direction: column;
}

.duo_card__blog-heading {
  width: 100%;
  text-align: left;

  margin-bottom: 5rem;
}

.duo_card__blog-heading h1 {
  font-size: 62px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 800;
}

.duo_card__blog-container {
  display: flex;
  flex-direction: row;
}

.duo_card__blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}

.duo_card__blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
  .duo_card__blog-container {
      flex-direction: column-reverse;
  }


  .duo_card__blog-container_groupA {
      margin: 2rem 0;
  }

  .duo_card__blog-container_groupA .duo_card__blog-container_article  {
     width: 48%;
  }

  .duo_card__blog-container_groupA .duo_card__blog-container_article-image {
      height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .duo_card__blog-container_groupB {
      grid-template-columns: repeat(1, 1fr);
  }

  .duo_card__blog-container_groupA .duo_card__blog-container_article  {
     width: 100%;
  }

  .duo_card__blog-heading h1 {
      font-size: 46px;
      line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .duo_card__blog-heading h1 {
      font-size: 34px;
      line-height: 42px;
  }

} */


@media screen and (max-width: 1050px) {
  .duo_card__card-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-box {
    width: 30%;
    height: 50%;
    margin: 1px 2px;
  }

  .card-box-active{
    width: 35%;
    height: 55%;
    margin-top: 7px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 950px) {
  .card_option_container{
    height: 800px;
    /* border: 1px solid red; */
    /* margin-top: 500px; */
  }

  .duo_card__card-section {
    
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-box {
    width: 45%;
    height: 30%;
    margin: 1px 2px;
  }

  .card-box-active{
    width: 50%;
    height: 33%;
    margin-top: 7px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 650px) {
  .card_option_container{
    height: 800px;
    /* border: 1px solid red; */
    /* margin-top: 500px; */
  }

  .duo_card__card-section {
    
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-box {
    width: 55%;
    height: 30%;
    margin: 1px 2px;
  }

  .card-box-active{
    width: 60%;
    height: 33%;
    margin-top: 7px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 490px) {
  .card_option_container{
    height: 800px;
    /* background: rgb(168, 168, 213); */
    /* border: 1px solid red; */
    /* margin-top: 500px; */
  }

  .duo_card__card-section {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-box {
    width: 75%;
    height: 27%;
    margin: 1px 2px;
  }

  .card-box-active{
    width: 85%;
    height: 30%;
    margin-top: 7px;
    margin-bottom: 5px;
  }
}