.duo_card__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 6rem 0rem 6rem;
  height: 105px;
  width: 100%;

  position: fixed;
  top: 0;
}

.duo_card__navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign_in_cover {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.duo_card__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lock_nav {
  /* background: #204c8d; */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-bottom: 3px solid transparent;
  background-clip: padding-box;
  transition: 0.3s;
}

.duo_card__navbar-links_logo {
  margin-right: 2rem;
  /* border: 0.5px solid red; */
  height: 100%;
  padding-top: 2px;
}

.duo_card__navbar-links_logo img {
  width: 100px;
  height: 100%;

  /* border: 2px solid blue; */
}

.duo_card__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.duo_card__navbar-links_container .navbar_link_para,
.duo_card__navbar-sign .navbar_sign_para,
.duo_card__navbar-menu_container p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  color: #fff;
}

.duo_card__navbar-sign .navbar_sign_para {
  color: #204c8d;
}

.duo_card__navbar-links_container .navbar_link_para {
  color: #204c8d;
}

.nav_links_scroll_styles {
  color: #fff;
  color: #204c8d;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.sign_in_links_scroll_styles {
  color: #fff;
  color: #204c8d;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.duo_card__navbar-sign .button_scroll_style,
.duo_card__navbar-menu_container .button_scroll_style {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #204c8d;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.duo_card__navbar-sign .button_scroll_style_activated,
.duo_card__navbar-menu_container .button_scroll_style_activated {
  padding: 0.5rem 1rem;
  /* color: #204c8d; */
  color: #fff;
  /* background: #fff; */
  background: #204c8d;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.duo_card__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
  z-index: 1;
}

.duo_card__navbar-menu svg {
  cursor: pointer;
}

.duo_card__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-bg);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.duo_card__navbar-menu_container p {
  margin: 1rem 0;
}

.duo_card__navbar-menu_container-links-sign {
  display: none;
}

/* Hides Navbar links for devices below the screen size */
@media screen and (max-width: 1050px) {
  .duo_card__navbar-links_container {
    display: none;
  }

  .duo_card__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .duo_card__navbar {
    padding: 2rem 4rem;
  }

  .duo_card__navbar-sign {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .duo_card__navbar {
    padding: 2rem;
  }

  .duo_card__navbar-sign {
    display: none;
  }

  .duo_card__navbar-menu_container {
    top: 20px;
  }

  .duo_card__navbar-menu_container-links-sign {
    display: block;
  }
}
