.customize_card_container_div{
  height: 500px;
  padding: 20px;
  background: rgb(219, 224, 227);
  display: flex;
  /* flex_direction: column; */
  justify-content: space-around;
  align-items: center;
  border: .5px solid red;
}

.customize_card_right_div{
  border: .5px solid red;
  width: 35%;
}

.customize_card_left_div{
  border: .5px solid red;
  width: 30%;
}

.customize_card_input_div{
  outline: none;
  margin: 10px 0px;
  border: .5px solid red;
}

.customize_card_input_tag{
  padding: 12px 7px;
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: none;
}