.duo_card__possibility {
  display: flex;

  /* flex-direction: row; */
  /* text-align: center; */
  /* border: 0.5px solid red; */
}

.duo_card__possibility-image_div {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 0.5px solid red; */
}

.duo_card__possibility-image {
  width: 100%;
  height: 100%;
}

.duo_card__possibility-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 0.5px solid red; */
}

.duo_card__possibility-content .first_h1,
.second_h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 43px;
  line-height: 45px;
  /* border: 0.5px solid red; */
  color: #204c8d;
}
.first_h1,
.second_h1 {
  margin: 1rem 0 0.7rem 0;
  text-align: center;
}

.duo_card__possibility-content p {
  /* color: var(--color-text); */
  color: #738cb3;
  font-family: var(--font-family);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 950px) {
  .duo_card__possibility {
    flex-direction: column;
  }

  .duo_card__possibility-image {
    margin: 1rem 0;
  }

  .duo_card__possibility-image img {
    width: unset;
    height: unset;
  }

  .duo_card__possibility-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .duo_card__possibility-image img {
    width: 100%;
    height: 100%;
  }
  .component_padding {
    padding: 0.5rem 0.5rem;
  }

  @media screen and (max-width: 650px) {
    .duo_card__possibility {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 0.5px solid red; */
    }
    .first_h1,
    .second_h1 {
      margin: 0.5rem 0;
      text-align: center;
    }

    .duo_card__possibility-content {
      width: 80%;
      /* border: 0.5px solid red; */
    }

    .duo_card__possibility-content p {
      width: 90%;
    }
  }

  @media screen and (max-width: 490px) {
    .duo_card__possibility {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 0.5px solid red; */
    }
    .first_h1,
    .second_h1 {
      margin: 0.5rem 0;
      text-align: center;
    }

    .duo_card__possibility-content {
      width: 100%;
      /* border: 0.5px solid red; */
    }

    .duo_card__possibility-content p {
      width: 100%;
    }

    .duo_card__possibility-image_div {
      /* border: 0.5px solid red; */
      /* margin: 0 auto; */
      height: 350px;
      width: 350px;
    }
  }
}
