* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.app {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

.blue__text {
  color: #204c8d;
}

.section__padding {
  padding: 2rem 6rem;
}

.section__margin {
  margin: 2rem 6rem;
}

.section__padding1 {
  padding: 0rem 3rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 490px) {
}

@media screen and (max-width: 410px) {
  .app {
    width: 45.5vh;
  }
}
