.duo_card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 0.5px solid blue; */
}

.duo_card__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 60%;
  min-width: 95%;
  margin: 70px auto 0px auto;

  /* border: 0.5px solid purple; */
  text-align: center;
  /* border: 2px solid blue; */
}

.duo_card__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  margin: 0 auto;
  padding-bottom: 10px;
  /* border: 2px solid blue; */
  /* width: 30%; */
  max-width: 70%;
  min-width: 90%;
}

.duo_card__header-content p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  /* display: block; */
  /* color: var(--color-text); */
  color: #5075ac;
  max-width: 60%;

  text-align: center;
  margin: 0 auto;
  /* border: 2px solid blue; */
}

.duo_card__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}

.header_card_image {
  /* border: 0.5px solid blue; */
  margin: 70px auto 50px auto;
}

.header_card_image img {
  width: 700px;
}

@media screen and (max-width: 1050px) {
  .duo_card__header {
    margin-top: 130px;
  }

  .duo_card__header {
    flex-direction: column;
  }

  .duo_card__header-content {
    margin: 0 0 -2rem;
  }
}

@media screen and (max-width: 950px) {
  .duo_card__header {
    margin-top: 130px;
  }

  .duo_card__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .duo_card__header-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .header_card_image {
    /* border: 0.5px solid blue; */
    margin: 40px auto 50px auto;
  }
  .header_card_image img {
    width: 450px;
    height: 400px;
  }
}

@media screen and (max-width: 650px) {
  .duo_card__header {
    margin-top: 130px;
  }
  .duo_card__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .duo_card__header-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .header_card_image {
    /* border: 0.5px solid blue; */
    margin: 40px auto 50px auto;
  }
  .header_card_image img {
    width: 350px;
    height: 300px;
  }
}

@media screen and (max-width: 490px) {
  .duo_card__header {
    margin-top: 130px;
  }

  .duo_card__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .duo_card__header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .header_card_image {
    /* border: 0.5px solid blue; */
    margin: 40px auto 5px auto;
  }

  .header_card_image img {
    width: 300px;
    height: 250px;
    /* border: 0.5px solid blue; */
  }
}
